.main {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.main_wrapper {
    width: 1140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main_title img {
    width: 600px;
    height: 200px;
}

.main_input {
    width: 990px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0 33px 0;
    gap: 8px;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 16px;
}

.main_input input {
    border: none;
    width: 990px;
    outline: none;
}

.items_wrapper {
    width: 1140px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    text-align: left;
}

.item h5 {
    height: 2px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
    padding-left: 16px;
}

.item h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    padding: 0 0 12px 16px;

}

@media only screen and (max-width: 768px) {
    .main {
        width: 100%;
    }

    .main_wrapper {
        width: 100%;
    }

    .main_input {
        width: 100%;
    }

    .items_wrapper {
        width: 100%;
    }

    .main_title img {
        height: 100%;
        width: 80%;
    }

    .main_input, .main_input input {
        width: 70%;
    }

}

@media screen and (max-device-width: 640px) {
    .main {
        width: 100%;
    }

    .main_input, .main_input input {
        width: 70%;
    }

    .main_title img {
        height: 100%;
        width: 80%;
    }
}

@media screen and (max-device-width: 320px) {
    .main {
        width: 100%;
    }

    .main_title img {
        height: 100%;
        width: 90%;
    }

    .main_input, .main_input input {
        width: 220px;
    }
}
