.about {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.about a {
    text-decoration: none;
    color: inherit;
}

.about__header {
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 23px 0 32px 24px;
    gap: 12px;
}

.about__avatar {
    width: 100%;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.about__name {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

.about__avatar img {
    width: 320px;
    border: 5px solid #F2F2F7;
    border-radius: 50%;
}


.about__information {
    width: 100%;
    max-width: 413px;
    margin: 0 auto;
    padding: 0 24px;
}

h4 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #8E8E93;
}

h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #081F32;
    margin-top: 20px;
}

h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #6E798C;
    margin-bottom: 20px;
}

.about__items-list {
    width: 100%;
    padding: 0 16px;
}

.about__item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

@media only screen and (max-width: 768px) {
    .about__header {
        margin-bottom: 72px;
    }

    .about__avatar h3 {
        font-size: 32px;
    }

    h4 {
        text-align: left;
        margin-left: 0;
    }

    .about__item {
        width: 80%;
    }

    .about__name {
        font-size: 32px;
        line-height: 37.5px;
    }

    .about__avatar img {
        width: 300px;
        border: 5px solid #F2F2F7;
        border-radius: 150px;
    }

    .about__information {
        margin-left: 20%;
    }
}

@media screen and (max-device-width: 640px) {
    .about__header {
        margin-bottom: 72px;
    }

    .about__avatar h3 {
        font-size: 28px;
    }

    h4 {
        text-align: left;
        margin-left: 0;
    }

    .about__item {
        width: 80%;
    }

    .about__name {
        font-size: 32px;
        line-height: 37.5px;
    }

    .about__avatar img {
        width: 150px;
    }

    .about__information {
        margin-left: 0;
    }
}

@media screen and (max-device-width: 320px) {
    .about__header {
        margin-bottom: 72px;
    }

    .about__name {
        font-size: 32px;
        line-height: 37.5px;
    }

    .about__avatar img {
        width: 120px;
    }

    h4 {
        text-align: left;
        margin-left: 0;
    }

    .about__item {
        width: 80%;
    }

    .about__avatar h3 {
        font-size: 22px;
    }

    .about__information {
        margin-left: 20%;
        align-items: flex-start;
    }
}